// styles/Navbar.scss

@import "~bulma/bulma"; // Importa Bulma

// Define tus colores
$primary-color: #8c52ff; // Color primario
$selected-color: #cb6ce6; // Color secundario para resaltar

.navbar {
  background-color: #080808; // Color de fondo
  z-index: 1000; // Mantener el navbar por encima de otros elementos

  .navbar-item {
    color: $selected-color; // Color de texto

    &:hover {
      color: $primary-color; // Color al pasar el mouse
    }

    &.is-selected {
      background-color: $primary-color; // Color del enlace activo
      color: white; // Asegura que el texto sea blanco
      font-weight: bold; // Opcional: resalta el texto
    }
  }

  .navbar-burger {
    display: none; // Ocultar en pantallas grandes
    color: white; // Cambia el color de la hamburguesa a blanco (o el color que desees)

    span {
      background-color: $selected-color; // Cambia el color de las líneas de la hamburguesa
    }
  }

  @media (max-width: 768px) {
    .navbar-burger {
      display: flex; // Mostrar el botón burger en móviles
    }

    .navbar-menu {
      display: none; // Ocultar el menú por defecto en móviles
    }

    .navbar-menu.is-active {
      display: flex; // Mostrar el menú cuando está activo
      flex-direction: column; // Mostrar en columna en móviles
    }
  }
}
