@import "~bulma/bulma";

$color-primary: #8c52ff;   // Color primario
$color-secondary: #cb6ce6; // Color secundario
$color-background: #1c1c1c; // Color de fondo
$color-text: white;        // Color de texto

// Estilos globales
body {
    background-color: $color-background;
    color: $color-text;
    font-family: Arial, sans-serif; // Puedes cambiar la fuente si lo deseas
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-primary; // Color para encabezados
}

a {
    color: $color-secondary; // Color para enlaces
    text-decoration: none;   // Sin subrayado
    &:hover {
        text-decoration: underline; // Subrayado en hover
    }
}
